@viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
::-webkit-selection {
  background: #2196f3;
  text-shadow: none; }

::-moz-selection {
  background: #2196f3;
  text-shadow: none; }

::selection {
  background: #2196f3;
  text-shadow: none; }

:-ms-input-placeholder {
  color: #455a64; }

::-webkit-input-placeholder {
  color: #455a64; }

::placeholder {
  color: #455a64; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

[hidden] {
  display: none; }

[type="checkbox"], [type="radio"] {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  line-height: normal;}

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a, a:active, a:hover, a:focus {
    outline-width: 0;
    text-decoration: none; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 400; }

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0px; }

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
  list-style: none; }

ul,
li {
  list-style: none !important; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

mark {
  background-color: #ff0;
  color: #000000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img,
img:active,
img:focus,
img:hover {
  border-style: none;
  outline: 0;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

hr {
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

input {
  line-height: normal; }

input, select, textarea {
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  input:focus, input:active, input:visited, select:focus, select:active, select:visited, textarea:focus, textarea:active, textarea:visited {
    outline: none !important; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  select option {
    padding: 5px 10px; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  -ms-appearance: button;
  -o-appearance: button;
  appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }




.bgContainer{
  float: left;
  width: 100%;
  height: 100vh;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;  
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;  
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;  
}
.innerCover{
  float: left;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 20px rgba(0,0, 0, 0.6);
}

/* audio image information */
#audio-img, #audio-img img{
  float: left;
  width: 100%;
}

/* audio player information */
#audio-player{
  float: left;
  width: 100%;
  padding: 20px 30px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* audio information */
#audio-info{
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.audio-title{
  font-size: 18px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.audio-artist{
  font-size: 13px;
  float: right;
  width: 100%;
}

/* audio range */
input#audio-volumn{
  -webkit-appearance: none !important;
  width: 100%;
  background-color: #f44336;
  display: inline-block;
  height: 2px;
  margin-bottom: 40px;
}
input#audio-volumn::-webkit-slider-thumb{
  -webkit-appearance: none !important;
  background-image: url('../img/knob.png');
  background-repeat: no-repeat;
  background-color: transparent;
  width: 10px;
  height: 10px;
}

/* audio buttons */
#audio-buttons{
  float: left;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;  
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;  
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
#audio-buttons button{
  float: left;
  width: 40px;
  height: 40px;
  margin: 0px 6px;
  border: 1px solid #613300;
  border-radius: 3px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 6px rgba(0,0, 0, 0.3);
}
button#prev{
  background-image: url('../img/prev.png');
}
button#play{
  background-image: url('../img/play.png');
}
button#pause{
  background-image: url('../img/pause.png');
}
button#stop{
  background-image: url('../img/stop.png');
}
button#next{
  background-image: url('../img/next.png');
}

/* audio progressbar  */
#audio-tracker{
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
#audio-progressbar{
  float: left;
  width: calc(100% - 70px);
  height: 3px;
  margin-top: 13px;
  background-image: url('../img/process_bar.png');
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 3px;
}
#progress{
  background-image: url('../img/process_bar_play.png');
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 3px;
  float: left;
}
#audio-duration{
  float: right;
  width: 60px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: normal;
  border-radius: 3px;
  text-align: center;
}

/* audio playlist */
#audio-playlist{
  float: left;
  width: 100%;
}
#audio-playlist li{
  float: left;
  width: 100%;
  padding: 10px 16px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: 95% center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
#audio-playlist li:hover, #audio-playlist li.active{
  background-color: #400b29;
  background-image: url('../img/tik.png');
  color: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}









